$icon-size: 20px

.post
  margin: 10px 0
  background-color: white
  border-radius: 7px

.avatar
  width: 150px
  height: 150px
  border-radius: 7px 0px 0px 7px

.icon
  width: $icon-size
  height: $icon-size
  cursor: pointer
  background-color: white

.nopadding
  padding: 0 !important

@media only screen and (min-width: 762px)
  .actual-user-container
    position: fixed
