@import '../../App.sass'
$icon-size: 20px

.post
  @include section-mixin

.avatar
  width: 150px
  height: 150px
  border-radius: 7px 0px 0px 7px

.icon
  width: $icon-size
  height: $icon-size
  cursor: pointer
  background-color: $section-color

.nopadding
  padding: 0 !important

.post-author
  font-size: 13px
  &>a
    color: $click-color

.post-date
  font-size: 11px
  color: grey

.post-content
  font-size: 14px

.post-likes
  font-size: 13px

@media only screen and (min-width: 762px)
  .actual-user-container
    position: fixed

  .post-author
    font-size: 15px

  .post-date
    font-size: 13px
    color: grey

  .post-content
    font-size: 15px

  .post-likes
    font-size: 15px
